{% extends 'base.html' %}

{% block title %}
    {{ post.title_tag }}
{% endblock %}

{% block content %}

<br>
<h1>{{ post.title }}</h1>
<small>By: {{ post.author.first_name }}&nbsp;{{ post.author.last_name }} | {{post.post_date}}</small><br>
<hr><br> {% if post.header_image %}
<div style="text-align: center;">
<img src="{{ post.header_image.url }}" height="200" width="auto"><br><br>
</div>
{% endif %}
{{ post.body|safe }}

<br><br><br>

{%if user.is_authenticated %}
{% if user.id == post.author.id %}
<a href="{% url 'update_post' post.pk %}" class="btn btn-warning">Edit</a> &nbsp;
<a href="{% url 'delete_post' post.pk %}" class="btn btn-danger btn">Delete</a> &nbsp;
{% endif %}
{%endif%}
<a href="{% url 'home' %}" class="btn btn-secondary">Back</a>

<br><br><hr><br>
<form action="{% url 'like_post' post.pk %}" method="POST">
    {% csrf_token %}
    <b> {{ total_likes }} Upvotes</b> <br><br>
    {%if user.is_authenticated %}
        {% if user.id != post.author.id %}
            {% if liked %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger">Downvote</button>
            {% else %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-success">Upvote</button>
            {% endif %}
        {% endif %}
    {% else %}
        <sm>Login to Upvote!</sm>
    {% endif %}
</form>
<br>
<br>


{% endblock %}